In [2]:
import pandas as pd
file = "world_weather_info.csv"
df = pd.read_csv(file)
df.head()

         City  Latitude  Temp (F)  Humidity  Cloudiness  Windspeed (mph)
0    Fairview     40.81     41.04        30           1             3.65
1   Bonavista     48.65     30.00        57           0            21.99
2       Kapaa     22.08     65.97        64          90             8.05
3  Nikolskoye     59.70     37.85        86          90             6.71
4  Rio Grande    -32.03     71.60        94          90            13.87