In [1]:
import pandas as pd
file = "world_weather_info.csv"
df = pd.read_csv(file)
df.head()

     Fairview  40.81  41.04  30   1   3.65
0   Bonavista  48.65  30.00  57   0  21.99
1       Kapaa  22.08  65.97  64  90   8.05
2  Nikolskoye  59.70  37.85  86  90   6.71
3  Rio Grande -32.03  71.60  94  90  13.87
4        Lebu   8.96  73.40  35  20  11.41