In [4]:
import pandas as pd
file = "world_weather_info.csv"
df = pd.read_csv(file)
df.head()

          City  Latitude  Max_Temp (F)  Humidity  Cloudiness  Windspeed (mph)
0    Ambovombe    -25.18         75.95        92          92             3.04
1  Port Alfred    -33.59         73.99        92          12             1.01
2         Tete    -16.16         78.11        83          48             2.93
3       Barrow    -38.31         68.75        76           0            16.24
4         Buta      2.79         89.09        29           8             6.85